.App {
  text-align: center;
}
.bg{
  background: radial-gradient(46.52% 46.52% at 50% 50%, #87949C 0%, #FFF 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.logo-wh{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.floating-blobs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

.blob {
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(50px);
  animation: floatBlob 20s linear infinite;
}
.blue{
  background: #B4B6CE;
}
.green{
  background: #E1FBD4;
}
.gray{
  background: #CCC6C7;
}

@keyframes floatBlob {
  0% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
  25% {
    transform: translate(-50%, -50%) translate(100px, -150px);
  }
  50% {
    transform: translate(-50%, -50%) translate(-120px, 100px);
  }
  75% {
    transform: translate(-50%, -50%) translate(80px, 130px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
  border-bottom: 1px solid #c7c7c7;
  margin: 0 60px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
}

.menu-button {
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  background: black;
  border-radius: 100px;
  margin-right: 20px;
}

.material-symbols-outlined {
  
  font-size: 24px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.mobile-menu-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

/* 메뉴 패널 */
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 24px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .mobile-menu {
    width: 50vw;
  }
}

@media (max-width: 767px) {
  .mobile-menu {
    width: 100vw;
  }
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-item {
  background: none;
  border: none;
  font-size: 20px;
  padding: 28px 0;
  color: white;
  cursor: pointer;
  width: 100%;
}



.main-text {
  margin-top: 40px;
  font-size: 24px;
}

.input-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.input {
  width: 100%;
  padding: 12px 60px 12px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.send-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

.send-button.active {
  background-color: black;
  cursor: pointer;
}

.send-button span {
  font-size: 20px;
}

