:root{
    --primary-active:#FF683A;
    --primary-active80:rgba(255 104 58 / 0.8);
    --primary-active60:rgba(255 104 58 / 0.6);
    --primary-active40:rgba(255 104 58 / 0.4);
    --primary-active20:rgba(255 104 58 / 0.2);
    --primary-hover:#FD3F07;

    --bg:#F5F5F5;

    --wh100:rgba(255 255 255 / 1);
    --wh90: rgba(255 255 255 / 0.9);
    --wh80: rgba(255 255 255 / 0.8);
    --wh70: rgba(255 255 255 / 0.7);
    --wh60: rgba(255 255 255 / 0.6);
    --wh50: rgba(255 255 255 / 0.5);
    --wh40: rgba(255 255 255 / 0.4);
    --wh30: rgba(255 255 255 / 0.3);
    --wh20: rgba(255 255 255 / 0.2);
    --wh10: rgba(255 255 255 / 0.1);
  
    --bl90:  #333333;
    --bl30:  #8E8E8E;
    --bl20:  #AAAAAA;
    --bl10:  #C7C7C7; 

    --semantic-warning-txt: #FF5A65;
    --semantic-warning-btn: rgba(255 90 101 / 0.2);
    --semantic-success-txt: #05C168;
    --semantic-success-btn: rgba(5 193 104 / 0.2);
    --semantic-info100: #3A9BFE;
    --semantic-info70: rgba(58 155 254 / 0.7);
    --semantic-info10: rgba(58 155 254 / 0.1);
    --semantic-info-bg:  #2f364b;
}